In [170]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from bs4 import BeautifulSoup
import json

In [5]:
urls = [
    'https://www.drugs.com/article/prescription-abbreviations.html'
    ]

In [18]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(urls[0])

In [21]:
html = BeautifulSoup(driver.page_source, 'html.parser')

In [32]:
table_info = html.select('table')

In [44]:
table_info_pd = pd.read_html(str(table_info[0]))[0]

In [45]:
table_info_pd.head()

,Abbreviation,Meaning / Intended Meaning,Notes About Confusion
0,1/2NS,one-half normal saline (0.45%),"Normal saline (NS) is 0.9%, so one-half normal..."
1,5-ASA,5-aminosalicylic acid,Can be misinterpreted as five tablets of aspir...
2,a,before,NaN
3,A.M.,morning,NaN
4,aa,of each,NaN

In [54]:
table_info_pd.head()

,Abbreviation,Meaning / Intended Meaning,Notes About Confusion
0,1/2NS,one-half normal saline (0.45%),"Normal saline (NS) is 0.9%, so one-half normal..."
1,5-ASA,5-aminosalicylic acid,Can be misinterpreted as five tablets of aspir...
2,a,before,NaN
3,A.M.,morning,NaN
4,aa,of each,NaN

In [56]:
abbr = list(table_info_pd['Abbreviation'].apply(lambda x : str(x).lower()))

In [137]:
abbr_str = list(table_info_pd['Abbreviation'].apply(lambda x : str(x)))

In [138]:
table_info_pd['Abbreviation_str'] = abbr_str

In [ ]:
for a in table_info_pd['Abbreviation']:
    print(type(a))

In [73]:
a = table_info_pd.loc[table_info_pd['Abbreviation'] == 'a', ['Meaning / Intended Meaning']]

In [86]:
a = 'a'
table_info_pd.query('Abbreviation == @a')['Meaning / Intended Meaning'].iloc[0]

'before'

In [147]:
len(table_info_pd)

233

In [164]:
def format_abbr(s):
    s = s.lower()
    s = s.replace('.','')
    return s

In [167]:
abbr_formatted = {}
for i in range(len(table_info_pd)):
    abbr = str(table_info_pd['Abbreviation'].iloc[i])
    if len(abbr.split()) >= 2:
        abbr_list = abbr.split()
        for a in abbr_list:
            abbr_formatted[format_abbr(a)] = table_info_pd['Meaning / Intended Meaning'].iloc[i]
    else:
        abbr_formatted[format_abbr(abbr)] = table_info_pd['Meaning / Intended Meaning'].iloc[i]

In [169]:
len(abbr_formatted)

253

In [173]:
with open("abbr_formatted.json", "w") as outfile:
    json.dump(abbr_formatted, outfile)